<center>TW50 LSTM Forecasting</center>

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense
from datetime import datetime, timedelta

# Step 1: Load and Prepare the Data
file_path = "../TW50.csv"
df = pd.read_csv(file_path, usecols=['Date', 'Price Index'])
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
scaler = MinMaxScaler()
df['Price Index'] = scaler.fit_transform(df[['Price Index']])

# Remove rows with NaN values
df = df.dropna()

df

            Price Index
Date
2019-04-25     0.154033
2019-04-26     0.145847
2019-04-29     0.147377
2019-04-30     0.147603
2019-05-02     0.149756
...                 ...
2024-04-19     0.866237
2024-04-22     0.858038
2024-04-23     0.874643
2024-04-24     0.926403
2024-04-25     0.895708

[1219 rows x 1 columns]